h1 {
    text-align: center;
}

.grid-container {
    /*This turns the continer in to a grid*/
    display: grid;
    
    /*This sets the number of rows in the grid*/
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr; 
    /*This sets the number of columns in the grid*/
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    /*This sets the number of rows and columns in the grid*/
    grid-template: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr / 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    
    /*This uses repeat() to display 10 rows*/
    grid-template-rows: repeat(10, 1fr); 
    /*This uses repeat() to display 10 columns*/
    grid-template-columns: repeat(10, 1fr);
    /*This uses repeat() to display 10 rows and columns*/
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    
    /*This creates a 10px gap between rows and columns*/
    grid-gap: 10px;

    border: 1px solid black;
    
}

nav {
    background-color: coral;
    text-align: center;
    border: 1px solid black;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 11;
}

header {
    background-color: skyblue;
    text-align: center;
    border: 1px solid black;
    grid-row: 2 / 3;
    grid-column: 1 / 11;
}

.top {
    background-color: green;
    text-align: center;
    border: 1px solid black;
    grid-row: 3 / 4;
    grid-column: 3 / 9;
}

.left {
    background-color: orange;
    text-align: center;
    border: 1px solid black;
    grid-area: 4 / 2 / span 5 / span 3;
}

.right {
    background-color: slateblue;
    text-align: center;
    border: 1px solid black;
    grid-area: 4 / 7 / span 5 / span 3;
}

.bottom {
    background-color: grey;
    text-align: center;
    border: 1px solid black;
    grid-row: 9 / span 1;
    grid-column: 3 / span 6;
}

footer {
    background-color: pink;
    text-align: center;
    border: 1px solid black;
    grid-area: 10 / 1 / span 1 / span 10;
}